player-connection-mode=Connect
player-connection-guid=258196429
player-connection-debug=1
player-connection-project-name=Word26
player-connection-wait-timeout=-1
player-connection-ip=192.168.2.104
player-connection-ip=172.31.192.1
player-connection-ip=25.44.28.112
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=62c816dd1967441b87eb1628523afd14
